.GithubContainer {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    flex-direction: column;
    border: 7px solid rgb(48, 46, 46);
    border-radius: 50px 0px;
    padding: 30px 10px 30px 10px;
    margin-top: 20px;
}
  .githead{
    font-family:'Roboto', sans-serif;
    text-align: center;
    font-size: 36px;
    color:#131f33;
    margin-top: 50px;
}
  .GithubH1 {
      color: var(--grey-color);
      font-size: 8rem;
      margin-bottom: 1rem;
  
    }
  
  .statsDiv{
      width:60%;
      margin:auto;
      display:flex;
      justify-content:center;
      border-radius:30px;
      margin-bottom:50px;
  }
  .statsDiv>img{
      padding:20px 10px 20px 10px;
  }
  @media only screen and (min-width: 769px) and (max-width:1110px){
      .statsDiv{
          flex-direction:column; 
      }
      .GithubH1 {
          font-size: 7rem;
          margin-bottom: -0.2rem;
        }
  }
  @media only screen and (min-width: 481px) and (max-width:768px){
      
      .statsDiv{
          flex-direction:column; 
      }
      .GithubH1 {
          font-size: 5rem;
        }
        .githead{
            font-size: 30px;
           
        }
        
  }
  @media only screen and (min-width:320px) and (max-width:480px){
      .statsDiv{
          width:80%;
          flex-direction:column; 
      }
      .GithubH1 {
          font-size: 3.5rem;
        }
       
  }
  @media only screen and (max-width: 319px){
      .statsDiv{
          width:70%;
          flex-direction:column; 
          margin-left: 60px;
      }
      .GithubH1 {
          font-size: 3rem;
          margin-bottom: -0.5rem;
        }
        .githead{
            font-size: 23px;
            
        }
        /* .statsdiv1{
margin-left: 20px;
        } */
       
        /* .statsDiv>img{
            padding:10px;
        } */
  }